{% extends "base.html" %}

{% block title %}歌曲列表{% endblock %}

{% block content %}
    <h1>歌曲列表</h1>
    <div class="song-grid">
    {% for song in songlist %}
        <div class="song-card">
            <span class="song-card-num">{{ forloop.counter|add:songlist.start_index|add:"-1" }}</span>
            <img class="song-card-img" src="{{ image_base }}song{{ song.id }}.jpg" alt="{{ song.name }}">
            <div class="song-card-info">
                <a class="song-card-title" href="{% url 'song' song.id %}">{{ song.name }}</a>
                <div class="song-card-singers">
                    {% for singer in song.singers.all %}
                        <a href="{% url 'singer' singer.id %}">{{ singer.name }}</a>
                        {% if not forloop.last %}&nbsp;/&nbsp;{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    {% include "_pagination.html" with page=songlist %}
{% endblock %}
